<a href="/users" class="btn"> <span class="text-2xl mr-4">&blacktriangleleft; </span> Back </a>
<div class="overflow-x-auto">
  <table class="table w-full">
    <!-- head -->
    <tbody >
      <!-- row 1 -->
        <tr>
          <th class="bg-fuchsia-950">First Name</th>
          <td>{{user?.name}}</td>
        </tr>
      <!-- row 2 -->
        <tr>
          <th class="bg-fuchsia-950">Last Name</th>
          <td>{{user?.lastname}}</td>
        </tr>
      <!-- row 3 -->
      <tr>
        <th class="bg-fuchsia-950">Email</th>
        <th>{{user?.email}}</th>
      </tr>
      <!-- row 4 -->
      <tr>
        <th class="bg-fuchsia-950">Province</th>
        <th>{{user?.province}}</th>
      </tr>
      <!-- row 5 -->
      <tr>
        <th class="bg-fuchsia-950">Fiscalcode</th>
        <th>{{user?.fiscalcode}}</th>
      </tr>

      <!-- row 6 -->
      <tr>
        <th class="bg-fuchsia-950">Phone</th>
        <th>{{user?.phone}}</th>
      </tr>
      <!-- row 7 -->
      <tr>
        <th class="bg-fuchsia-950">Age</th>
        <th>{{user?.age}}</th>
      </tr>
    </tbody>
  </table>
</div>
